.Header{
    grid-area: h;
    display: flex;
    width: 100vw;
    background:cornflowerblue;
    min-height: 150px;
}

.Header .Logo{
    height: auto;
    width: auto;
}

.Header .Welcome{
    margin:auto;
    font-size: 35px;
}