.Sidebar{
    grid-area: n;
    background: darkcyan;


}

.Sidebar a{
    display: block;
    font-size: 24px;
    color: inherit;
    margin: 20px;
    text-decoration: none;
}

.Sidebar a:last-child{
    margin-top: 45px;
}

