.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}



.item{
    color:black;
    text-decoration: none;
}
.active{
    color:gold;
    text-decoration: none;
}

.dialogs .dialogsItems{
    padding: 10px;
}

.dialogs .dialog{

}

.messages{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.messages .message{

}

.active{
    color:gold;
}

.inputButton{
  display: flex;
}

.input {
    width: 85%;
    height: 50px
}
.button{
    width: 15%;
    height: 50px;
}