.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}



.item{
    color:black;
    text-decoration: none;
}
.active{
    color:gold;
    text-decoration: none;
}

.dialogs .dialogsItems{
    padding: 10px;
}

.dialogs .dialog{

}

.messages{
    padding: 10px;
}

.messages .message{

}

.active{
    color:gold;
}